cat > .gitattributes << EOL
# Set default behavior to automatically normalize line endings.
* text=auto
# Define attributes for Python files.
*.py filter=lfs diff=lfs merge=lfs -text
# Define attributes for Kivy files.
*.kv filter=lfs diff=lfs merge=lfs -text
# Define attributes for images.
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
# Define attributes for configuration files.
*.json filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
# Define attributes for markdown files.
*.md filter=lfs diff=lfs merge=lfs -text
# Define attributes for HTML files.
*.html filter=lfs diff=lfs merge=lfs -text
# Define attributes for Pickle files
.pickle binary
.p binary
EOL
*.pickle filter=lfs diff=lfs merge=lfs -binary
*.p filter=lfs diff=lfs merge=lfs -binary
kivy_venv/ filter=lfs diff=lfs merge=lfs -lib - text
*.pyd filter=lfs diff=lfs merge=lfs -text
